/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #711c1b;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333;
  }
  
  p,
  label {
    color: #444;
  }
  
  input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="file"],
  textarea {
    width: 400px;
  }
  
  textarea {
    padding: 10px 5px;
  }
  
  /* page header */
  .header {
    height: 160px;
    padding: 20px;
    background-color: #7b7070;
    border-bottom: 5px solid white;
  }
  
  .header h3 {
    color: #fff;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    font-size:xx-large;
  }
  
  /* form container */
  .form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto; 
    position: relative;
    top: -62px;
    border: 5px solid rgb(78, 77, 77);
    border-radius: 20px;
  }
  
  /* form header */
  .form-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
  }
  
  .form-header p {
    color: #711c1b;
    border-bottom: 2px solid #711c1b;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
  }
  
  /* form body */
  .form-body {
    padding: 30px;
  }
  
  .form-title {
    margin-bottom: 15px;
  }
  
  .form-body p {
    margin-bottom: 20px;
  }

  .required-field{
    color:red;
  }

  .box-input {
    margin-bottom:35px;
  }

  .block {
    display: block;
  }

  .optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
  }

  .optional-list li{
    list-style: none;
  }

  .box-input p{
    margin-bottom: 15px;
  }

  .btn-submit {
    background-color: #711c1b;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .btn-submit:hover{
    background-color: #fff;
    border-color: #711c1b;
    color: #711c1b;
  }

  .featured-image{
    text-align: right;
    position:absolute;
    right: 75px;
  }

  .featured-image figcaption{
    text-transform: uppercase;
    font-weight: 500;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }
